#
# Development requirements
#

invoke==1.2.0
#rituals==0.3.0
-e git+https://github.com/jhermann/rituals.git#egg=rituals

pytest==4.3.0
pytest-cov==2.6.1
pytest-mock==1.10.1
pytest-spec==1.1.0
tox==3.7.0
pylint==1.7.4
bpython==0.17.1
yolk3k==0.9
pip-upgrader==1.4.2

twine==1.13.0

# -r test-requirements.txt
-r requirements.txt
-e .
