#
# Development requirements
#

invoke==1.4.1
rituals==0.4.1
#https://github.com/jhermann/rituals/archive/master.zip#egg=rituals

pytest==4.6.9
pytest-cov==2.8.1
pytest-mock==2.0.0
pytest-spec==2.0.0
tox==3.14.5
pylint==2.4.4
bpython==0.18
yolk3k==0.9
pip-upgrader==1.4.15

twine==3.1.1

# -r test-requirements.txt
-r requirements.txt
-e .
