#
# Source Distribution Manifest
#
# More at https://docs.python.org/2/distutils/sourcedist.html

include LICENSE requirements.txt *-requirements.txt *.rst *.py .env .gitignore .travis.yml
include dependency_check.gif
recursive-include tests *.py
